*{
    box-sizing: border-box;
}

body{
 margin: 0;
 padding: 0;
 min-height: 100vh;

}

body{
    background-color: #f5efe0;
   
}

body{
    background: radial-gradient(circle at 50% 30%, #fbf6e9 0%, #ede0c8 100%);
}



.capa{   
    display: flex;           
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
 

    
}

.texto-lateral{
    border-radius: 20px;
}

.capa-h3{
    display: inline-block;
    position: relative;    
    border: 3px solid #8a4252;      
    border-radius: 4px;  
    padding: 10px 20px;
    border-radius: 4px;
    font-family: cursive;
    color: #fff5e7;
background: linear-gradient(90deg,#fa85a2,#e26969);
box-shadow: 0px 12px 4px 1px rgba(243, 180, 180, 0.863);
}

.capa-h{
  
    position: relative;    
    border: 3px solid #8a4252;      
    border-radius: 4px;  
    padding: 10px 20px;
    border-radius: 4px;
    font-family: cursive;
    color: #fff5e7;
background-color: #f1bdad;
box-shadow: 0px 12px 4px 1px rgba(250, 223, 223, 0.863);
}


.capa-p{          
    align-items: center;       
    justify-content: center;    
    gap: 20px;                  
    padding: 40px;
}

.capa-span{
 font-family: cursive;
 font-size: large;
 
}

.capa-h2{
    padding-bottom: 8px;
}
.capa-p, p{
    color: #3f3428;  
    line-height: 1.7; 
}

.sub-capa{

        color: #fff5e7;
background-color: #f1bdad62;
padding: 10px;
border-radius: 5px;
    
}

.capa-sub{
margin: 10px;  
    border: 3px solid #8a4252;      
    border-radius: 4px;  
    padding: 10px 20px;
    border-radius: 4px;
    font-family: cursive;
    color: #fff5e7;
background-color: #f1bdad;


}


.ana{

height: 500px;
width:  auto;
border-radius: 5px;
box-shadow: 3px  5px 4px 5px rgba(228, 90, 90, 0.575);

}


.Btn{
      display: inline-block;
    position: relative;
     background-color: #fdf9ef;      
    border: 1px solid #c8b89a;      
    border-radius: 4px;  
    padding: 10px 20px;
    border-radius: 4px;

}

.Btn-h3{
    text-decoration: none;
}

